@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    font-family: "Anybody", sans-serif;
    background-color: #dfdfd8;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    padding: 0  15px;
    ;

}

.event-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    gap: 1rem
}

.event-box h1{
    font-size: 4rem;
    color: #7077f2;
    margin-bottom: 10px;
}

.event-box p {
    font-size: 1.75rem;
}

form {
    max-width: 500px;
    width: 100%;    
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0   2px 4px rgba(0, 0, 0, 0.1),
                0   8px 16px    rgba(0, 0, 0, 0.1);
}

form input {
    height: 55px;
    width: 100%;
    padding: 0  15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    margin-bottom: 15px;
}

form input:focus{
    outline: none;
    border-color: #7077f2;
}

form h2 {
    font-size: 2rem;
    color: #7077f2;
    margin-bottom: 10px;
}

.preferred {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkbox {
    display: flex;
    align-items: center;
}

.Virtual-Inperson{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.Virtual{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.T-shirt {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.size {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.end{
    display: flex;
    justify-content: space-around;
    margin-block: 4rem;
}

.btn-submit{
    padding: 2rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    background-color: #1877f2;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
}
.btn-submit:hover{
    box-shadow: 0   2px 4px rgba(5, 255, 109, 0.3),
                0   8px 16px    rgba(5, 255, 109, 0.3);
    color: green;
}

.btn-reset{
     padding: 2rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    background-color: #1877f2;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
}

.btn-reset:hover{
    box-shadow: 0   2px 4px rgba(5, 255, 109, 0.3),
                0   8px 16px    rgba(5, 255, 109, 0.3);
    color: red;
}
